@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

body, input {
  font-family: 'Chakra Petch', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(247, 237, 184);
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}